.cocktails {
  min-height: 50px;
  padding: 5px;
  display: flex;
  margin: 5px auto;
  width: 90%;
  height: 98%;
  position: relative;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  align-content: space-between;
}
